.admin .main-content {
	margin-top: 50px;
	margin-bottom: 60px;
}

.admin #main-menu {
	position: fixed;
	top: 0;
	z-index: 100;
}

.admin #credits {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* main menu */

#main-menu .dropdown-menu a {
	color: #333;
}

#main-menu .nav .open>a,
#main-menu .nav .open>a:hover,
#main-menu .nav .open>a:focus {
	background-color: #333;
	border-color: #333;
}

#main-menu .nav>li>a:hover {
background: #333;
}

#main-menu .menu {
	margin: 7px 0 0 15px;
}

#main-menu .nav-pills>li.active>a,
#main-menu .nav-pills>li.active>a:hover,
#main-menu .nav-pills>li.active>a:focus {
	background-color: #E57E21;
}

#main-menu .col-md-4 .pull-right {
	text-align: right;
	margin-left: 15px;
}

#utility-menu a.btn {
	margin-top: 6px;
}

/* forms */

.form-address .form-group {
	margin-bottom: 5px;
}

.form-group .col-lg-6>span {
	line-height: 34px;
	padding: 5px;
}

.content-block .form-horizontal label{
	font-weight: 300;
}

.content-block .form-horizontal .secundary-label {
	font-size: 14px;
	color: #3498DB;
	cursor: pointer;
}

.content-block .form-inline input[type="date"] {
	width: 150px;
}

#account_data, #account_contacts {
	height: 300px;
}

#profile_data,
#public_contacts {
	height: 450px;
}

#company_keywords { height: 220px; }

/* account home */
#account-home input.form-control,
#account-home select.form-control,
#public_contacts input.form-control,
#public_contacts select.form-control {
	border: 0;
	outline: 0;
	box-shadow: none;
	font-size: 16px;
}

#account-home select.form-control,
#public_contacts select.form-control {
	padding: 5px 5px 5px 7px;
}

#account-home input[type="date"] {
	outline: 1px solid #eee;
}

#account-home input.form-control:focus,
#account-home select.form-control:focus,
#public_contacts input.form-control:focus,
#public_contacts select.form-control:focus {
	outline: 1px solid #eee;
}

.add-link {
	margin-left: 12px;
	font-size: 13px;
}


/* my jobs */

#account-my_jobs .content-block {
	min-height: 400px;
}

.table.my_jobs .active { color: #27AE60; }
.table.my_jobs .inactive { color: #EB6F63; }


/* add_job */

#account-add_job .content-block { min-height: 240px; }
.job-time-location, .job-contract { height: 280px; }

#account-add_job .job-contract .btn {
	opacity: 0.6;
	width: 90px;
	margin-right: 10px;
}

#account-add_job .job-contract .btn.active { opacity: 1; }

form.requirements { min-height: 150px; }

ul.requirements {
	list-style-type: none;
	list-style-position: inside;
	margin: 20px 0;
	padding: 0;
}

ul.requirements li {
	display: inline-block;
	background: #eee;
	padding: 5px;
	margin: 0 10px 10px 0;
	position: relative;
}

.remove-requirement {
	color: #666;
	position: absolute;
	top: -10px;
	right: -6px;
}

.remove-requirement:hover {
	text-decoration: none;
}
