/* general definitions & tipography */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
    font-size: 16px;
    font-family: 'Lato', Arial, sans-serif;
    background: #f3f3f3;
}

/* main elements and classes */

#header, #footer, #main-menu{
    width: 100%;
    color: #FFF;
}

#header a, #footer a, #main-menu a {
    color: #FFF;
}

#header .form-control,
#main-menu .form-control,
#footer .form-control {
    border: 0;
}

.main-content { min-height: 550px; }

.btn {
    height: 34px;
}

.underlined {
    border-bottom: 1px solid #ddd;
}

.page-title {
    margin: 50px 0 20px;
}

.page-title h1 {
    font-weight: 300;
    line-height: 50px;
}

.content-block {
    background: #FFF;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.content-block h2 {
    margin: 0;
    font-size: 22px;
}

.content-block hr {
    margin: 10px -15px;
}

.social-icons a { margin: 0 3px; }
.social-icons a:first-child { margin-left: 0; }
.social-icons a:last-child { margin-right: 0; }

/* buttons & forms */
.btn, .form-control {
    border-radius: 0;
    border: 0;
}

.btn { color: #FFF; }

.btn-warning { background: #E57E21; }
.btn-primary { background: #4EABEA; }
.btn-danger { background: #E74C3C; }

.btn-default {
    outline: 1px solid #eee;
    color: #aaa;
}

.form-control {
    border: 1px solid #DDD;
}

/* header */

#header{
    background: #E57E21;
    padding: 15px 0;
}

#header .slogan { margin: 15px 0 0 20px; }

#header .social-icons { margin-top: 10px; }
#header #info-links { margin-top: 20px; }

#header #info-links a {
    margin: 15px 0;
    border-right: 1px solid #CF7018;
    padding: 5px 15px;
}

#header #info-links a:last-child{
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}

/* main menu */

#main-menu {
    background: #555555;
    padding: 8px 0;
}

.nav>li>a:hover {
    background: #E57E21;
}

.nav>li>a {
    padding: 5px 15px;
    border-radius: 0;
}

/* footer */

#footer {
    background: #444444;
    padding: 20px 0 0;
    margin-top: 50px;
}

#credits {
    background: #333333;
    padding: 15px 0 5px;
    margin-top: 20px;
    font-size: 11px;
    color: #FFF;
}

#footer hr {
    margin: 15px 0;
    border-top: 1px solid #666;
}

#footer .nav.nav-pills {
    margin: 14px 0 10px;
}

/* general fixes and bootstrap customizations */

.nav .glyphicon.glyphicon-home { margin-right: 5px; }

/* home */
#home { margin-top: 50px; }
#home .carousel-control { background: transparent !important; }
#home .carousel-indicators { bottom: 0; }
#home .carousel-indicators li { border: 1px solid #aaa; }
#home .carousel-indicators li.active { background: #aaa; }

#home .above-carousel { position: relative; z-index: 5; }

#home ul {
    list-style-type: none;
    padding: 0;
}

#home #hot-jobs h3 {
    text-align: center;
    margin: 0;
}

#home #hot-jobs hr {
    margin: 10px -15px;
}

#home #hot-jobs .job-description {
    margin: 10px 0;
}

#home #hot-jobs .job-date {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#home #hot-jobs .job-location, #home #hot-jobs .job-payment {
    padding: 7px 15px;
    border-left: 1px solid #eee;
    text-align: center;
}

#home .company-catalog .pull-left {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* single job */

#single-job ul, #single-company ul {
    list-style-type: none;
    padding: 0;
}

#company-logo {
    width: 25%;
    height: 80px;
    text-align: center;
    background: #f3f3f3;
    margin: 0 20px 20px 0;
}

#company-info { max-width: 65%; }

#contract-type {
    width: 100px;
    height: 72px;
    padding: 25px 0 0;
    text-align: center;
    margin: 0 20px 20px 0;
    background: #C0392B;
    color: #FFF;
}

/* job listing */

.job-list li {
    padding: 7px 10px;
    background: #FFF;
    margin-bottom: 5px;
}

.one-job {
    background: #FFF;
    padding: 10px 15px;
    margin-bottom: 30px;
    border-top: 5px solid #9B59B6;
}

.one-job .job-title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.one-job .job-title h2 {
    margin: 0;
    font-size: 26px;
}

.one-job .job-description {
    margin: 20px 0;
}

.one-job .job-meta .job-date {
    color: #BBB;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.one-job .job-meta .job-meta-info {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    text-align: center;
    margin: 0;
}

.one-job .job-meta .job-meta-info li {
    display: inline;
    margin-right: 15px;
}

.one-job .job-meta .job-meta-info li:last-child {
    margin-right: 0;
}

/* search menu */

#search-menu {
    background: #FFF;
    padding: 8px 0;
    border-bottom: 1px solid #DDD;
}

.context-menu #form-search-menu ul {
    list-style-type: none;
    margin: 0;
}

.context-menu #form-search-menu #search-filters > ul > li {
    display: inline-block;
    margin: 0 5px;
}

#form-search-menu .info {
    font-size: 13px;
    text-align: right;
}

#search-filters ul li:first-child { margin-left: 0; }
#search-filters ul li:last-child { margin-right: 0; }

#form-search-menu .filters, #form-search-menu .order {
margin-top: 6px;
}

#search-filters .one-filter .filter-title,
#search-filters .one-filter .filter-content {
    display: none;
}

#search-filters .one-filter .filter-content { padding: 15px; }

#search-filters .one-filter .filter-content input {
    display: block;
    margin: 10px 0 25px;
    width: 250px;
}

.selected-filters-title {
    display: block;
}

ul.selected-filters {
    display: block;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
    width: 100%;
}

ul.selected-filters > li {
    margin: 0 5px 5px 0;
    float: left;
}

ul.selected-filters > li:last-child{
    clear: right;
}

ul.selected-filters > li .icon-remove-sign{
    cursor: pointer;
}

/* advanced search */
#search .col-md-6 {
    margin: 20px 0;
}

/* company catalog */
#company-catalog .data {
    min-height: 350px;
}
