<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Empregos::Perl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      _jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="public/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="public/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="public/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Acessar</a></li>
          <li><a href="#">Cadastrar</a></li>
        </ul>
        <h3 class="muted">[LOGO Empregos Perl]</h3>
      </div>
      <div class="jumbotron">
          <div class="input-append">
              <input class="input-block-level" id="q" name="q" type="text" placeholder="Pesquisar oportunidade..." />
              <button class="btn btn-primary" type="button">Buscar</button>
          </div>
      </div>
      <hr>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Destaques</h4>
          <p>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
            </ul>
          </p>

          <h4>News Feed</h4>
          <p><a href="#" class="label label-info">Assine nosso feed</a> e mantenha-se informado sobre as ultimas oportunidades registradas.</p>

          <h4>Cadastro de Empresas</h4>
          <p><a href="#" class="label label-info">Cadastre já</a> a sua empresa e começe a publicar as vagas!</p>
        </div>

        <div class="span6">
          <h4>Recentes</h4>
          <p>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
                <li><a href="#">Lorem ipsum dolor sit</a><br><small>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</small></li>
            </ul>
          </p>

          <h4>Acesso da Empresa</h4>
          <p><a href="#" class="label label-info">Clique Aqui</a> para acessar o painel de oportunidades e gerenciar suas informações.</p>

          <h4><div class="input-append">
          <input type="email" placeholder="seu@email.com.br" /><button class="btn">Cadastrar</button></div></h4>
          <p>Cadastre-se e receba as novidades de oportunidades diretamente em seu e-mail.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>2013 &copy; Empregos Perl.</p>
      </div>

    </div>
    
    <script src="public/js/jquery.js"></script>
    <script src="public/js/bootstrap-transition.js"></script>
    <script src="public/js/bootstrap-alert.js"></script>
    <script src="public/js/bootstrap-modal.js"></script>
    <script src="public/js/bootstrap-dropdown.js"></script>
    <script src="public/js/bootstrap-scrollspy.js"></script>
    <script src="public/js/bootstrap-tab.js"></script>
    <script src="public/js/bootstrap-tooltip.js"></script>
    <script src="public/js/bootstrap-popover.js"></script>
    <script src="public/js/bootstrap-button.js"></script>
    <script src="public/js/bootstrap-collapse.js"></script>
    <script src="public/js/bootstrap-carousel.js"></script>
    <script src="public/js/bootstrap-typeahead.js"></script>

  </body>
</html>
